<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if @meta_description.present? %>
    <meta name="description" content="<%= @meta_description %>">
  <% end %>
  <% if @canonical_url.present? %>
    <link rel="canonical" href="<%= @canonical_url %>">
  <% end %>
  <meta name="robots" content="noindex, nofollow">
  <% if @og_properties.present? %>
    <%= meta_og_tags @og_properties %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
